* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.container {
  width: 40%;
  margin: 20px auto;
  border: 1px solid black;
  padding: 30px;
}

.header {
  text-align: left;
  margin: 10px 0;
}

.limits {
  margin: 10px 0;
}

.limit {
  display: flex;
  justify-content: space-between;
}

.link {
  cursor: pointer;
  color: green;
}
